
body {
    background-color: #1f2c34;
	font-size: 100%;
}

label {
	font-size: 1.5em;
}

img {
	width: 200px;
	max-width: 200px;
	max-height: 200px;
	float: left;
	margin: 0px 5px 5px 0px;
}

.errorMessage {
	color: #f00;
}

.inputForm, #results {
	max-width: 75%; 
	margin-left: 5%; 
	margin: 0px auto;
	padding: 5px 10px 20px;
	background-color: #fff;
	color: #000;
}

.countryName {
	font-size: 2em;
	font-weight: bold;
}

input[type=search] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;  
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#sortTypeDiv {
	max-width: 75%; 
	margin-left: 5%; 
	margin: 0px auto;
	padding: 2px 10px 2px;
	background-color: #fff;
	color: #000;	
	font-weight: bold;
	font-size: 1.5em;
}

#sortTypeDiv button {
	float: right;
}

#results {
	background-color: #fff;	
}

#results div {
	min-height: 206px;
}

#counts {
	max-width: 75%; 
	margin-left: 5%; 
	margin: 0px auto;
	padding: 2px 10px 2px;
	background-color: #fff;
	color: #000;	
	font-weight: bold;
	font-size: 1em;
}

table > *:first-child:not(thead) td:first-child {
  font-weight: bold;
}



